<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Mi web personal</title>
</head>
<body>
    <!-- Cabecera y menu -->
    <h1>Mi web personal</h1>

    <ul>
        <li><a href="/">Portada</a></li>
        <li><a href="/about-me/">Acerca de</a></li>
        <li><a href="/portfolio/">Portafolio</a></li>
        <li><a href="/contact/">Contacto</a></li>
    </ul>
    <!-- Cabecera y menu -->
    {% block content %}{% endblock %}
</body>
</html>